.photo-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 16px;
  margin: 0 auto;
  padding-top: 92px;
  align-items: center;
  justify-content: center;
  max-width: 92.5%;
}

@media screen and (max-width: 1279px) {
  .photo-grid {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 14px;
    padding-top: 92px;
    max-width: 90.63%;
  }
}

@media screen and (max-width: 1023px) {
  .photo-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 16px;
    padding-top: 88px;
    max-width: 93.75%;
  }
}

@media screen and (max-width: 767px) {
  .photo-grid {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 12px;
    padding-top: 64px;
    max-width: 90%;
  }
}