.footer__link {
  margin: 0;
  padding-right: 18px;
  text-decoration: none;
  color: white;
}

.footer__link:last-child {
  padding-right: 0;
}

@media screen and (max-width: 1279px) {
  .footer__link {
    margin: 0;
    padding-right: 18px;
    text-decoration: none;
    color: white;
  }
}

@media screen and (max-width: 1023px) {
  .footer__link {
    margin: 0;
    padding-right: 12px;
    text-decoration: none;
    color: white;
  }
}

@media screen and (max-width: 767px) {
  .footer__link {
    margin: 0;
    padding-right: 0;
    padding-bottom: 32px;
    text-decoration: none;
    color: white;
  }
  .footer__link:last-child {
    padding-bottom: 48px;
  }
}