.place__paragraph {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.63;
  display: flex;
  align-self: start;
  margin: 0 auto;
}

.place__paragraph:first-child {
  margin: 0 auto;
}

@media screen and (max-width: 1023px) {
  .place__paragraph {
    font-size: 16px;
  }
}

@media screen and (max-width: 767px) {
  .place__paragraph {
    font-size: 16px;
    max-width: 90%;
  }
}